<h2 tuiTitle="m">{{ title() }} tasks</h2>

<div class="task-list-group">
  <tw-task-list-header title="Overdue" headerSize="xs" icon="@tui.clock-9">
    @if (overdueTasks().length > 0) {
      <tw-bulk-complete-tasks-button [tasks]="overdueTasks()" size="s" />
    }
  </tw-task-list-header>
  <div class="task-list-grid">
    @for (task of overdueTasks(); track task.id) {
      <tw-task-list-card [task]="task" [showCategory]="false" />
    } @empty {
      <tw-empty-state title="No Overdue Tasks" />
    }
  </div>
</div>

<div class="task-list-group">
  <tw-task-list-header title="Today" headerSize="xs" icon="@tui.clock-12">
    @if (todaysTasks().length > 0) {
      <tui-chip size="xs">
        <tui-icon icon="@tui.clock" />
        {{ todaysTasksDuration() | formatDuration }}
      </tui-chip>
      <tw-bulk-complete-tasks-button [tasks]="todaysTasks()" size="s" />
    }
  </tw-task-list-header>
  <div class="task-list-grid">
    @for (task of todaysTasks(); track task.id) {
      <tw-task-list-card [task]="task" [showCategory]="false" />
    } @empty {
      <tw-empty-state title="No Tasks Today" />
    }
  </div>
</div>

<div class="task-list-group">
  <tw-task-list-header title="Tomorrow" headerSize="xs" icon="@tui.clock-3">
    @if (tomorrowTasks().length > 0) {
      <tui-chip size="xs">
        <tui-icon icon="@tui.clock" />
        {{ tomorrowTasksDuration() | formatDuration }}
      </tui-chip>
      <tw-bulk-complete-tasks-button [tasks]="tomorrowTasks()" size="s" />
    }
  </tw-task-list-header>
  <div class="task-list-grid">
    @for (task of tomorrowTasks(); track task.id) {
      <tw-task-list-card [task]="task" [showCategory]="false" />
    } @empty {
      <tw-empty-state title="No Tasks Tomorrow" />
    }
  </div>
</div>

<div class="task-list-group">
  <tw-task-list-header title="Future" headerSize="xs" icon="@tui.calendar-days">
    @if (futureTasks().length > 0) {
      <tw-bulk-complete-tasks-button [tasks]="futureTasks()" size="s" />
    }
  </tw-task-list-header>
  <div class="task-list-grid">
    @for (task of futureTasks(); track task.id) {
      <tw-task-list-card [task]="task" [showCategory]="false" />
    } @empty {
      <tw-empty-state title="No Future Tasks" />
    }
  </div>
</div>
