<h2 tuiTitle="m">Completed tasks</h2>

@if (hasFutureTasks()) {
  <section class="task-list-grid">
    <tw-task-list-header title="Future" headerSize="s" icon="@tui.clock-3" />
    @for (task of futureTasks(); track task.id) {
      <tw-task-list-card [task]="task" [strikeThrough]="false" />
    }
  </section>
}

<section class="task-list-grid">
  <tw-task-list-header title="Today" headerSize="s" icon="@tui.clock-12" />
  @for (task of todaysTasks(); track task.id) {
    <tw-task-list-card [task]="task" [strikeThrough]="false" />
  } @empty {
    <tw-empty-state
      title="No Completed Tasks Today"
      [skeleton]="(isReady | async) === null"
    />
  }
</section>

<section class="task-list-grid">
  <tw-task-list-header title="Yesterday" headerSize="s" icon="@tui.clock-9" />
  @for (task of yesterdaysTasks(); track task.id) {
    <tw-task-list-card [task]="task" [strikeThrough]="false" />
  } @empty {
    <tw-empty-state
      title="No Tasks Competed Yesterday"
      [skeleton]="(isReady | async) === null"
    />
  }
</section>

@for (group of olderTasks(); track group.date) {
  <section class="task-list-grid">
    <tw-task-list-header
      [title]="group.date"
      headerSize="s"
      icon="@tui.calendar-days"
    />
    @for (task of group.tasks; track task.id) {
      <tw-task-list-card [task]="task" [strikeThrough]="false" />
    }
  </section>
}
