<tui-swipe-actions>
  @let t = task();
  <div
    tuiCell
    tuiSurface="neutral"
    tuiRipple
    [class.completed]="t.completedAt && strikeThrough()"
  >
    <button
      class="check-button"
      appearance="flat"
      [iconStart]="icon()"
      size="l"
      tuiIconButton
      (click)="taskService.toggleTask(t)"
    >
      {{ t.completedAt ? 'Undo' : 'Done' }}
    </button>
    <div tuiTitle style="width: 100%">
      <span class="title" tuiFade>{{ t.title }}</span>
      <div tuiSubtitle>
        {{ t.date | formatDate: fullDateFormat() }}
      </div>
      <div class="chips">
        @if (showCategory()) {
          <tw-category-chip size="xs" [category]="t.category" />
        }
        @if (showDuration() && t.duration) {
          <tui-chip size="xs" appearance="neutral">
            <tui-icon icon="@tui.clock" />
            {{ t.duration | formatDuration }}
          </tui-chip>
        }
        @if (showOngoingTimer() && ongoingTimer()) {
          <tui-icon icon="@tui.timer" />
        }
        @if (showSubtasks() && subtaskCount() > 0) {
          <tui-chip size="xs" appearance="neutral">
            <tui-icon icon="@tui.clipboard-list" />
            {{ completedSubtaskCount() }} / {{ subtaskCount() }}
          </tui-chip>
        }
        @if (showPriority() && t.priority && t.priority > 0) {
          <tw-priority-pin [priority]="t.priority" size="xs" />
        }
      </div>
    </div>
    <button
      appearance="action"
      tuiIconButton
      size="l"
      iconStart="@tui.chevron-right"
      [routerLink]="['/tasks/', t.id]"
    >
      Open Task
    </button>
  </div>
  <button
    appearance="flat-destructive"
    iconStart="@tui.trash-2"
    size="m"
    tuiIconButton
    tuiSwipeAction
    type="button"
    (click)="taskService.deleteTask(t)"
  >
    Delete
  </button>
  <button
    appearance="flat"
    [iconStart]="t.pinned ? '@tui.pin-off' : '@tui.pin'"
    size="m"
    tuiIconButton
    tuiSwipeAction
    type="button"
    (click)="taskService.togglePinTask(t)"
  >
    {{ t.pinned ? 'Unpin' : 'Pin' }}
  </button>
  <button
    appearance="flat"
    iconStart="@tui.pencil"
    size="m"
    tuiIconButton
    tuiSwipeAction
    type="button"
    [routerLink]="['/tasks', t.id, 'edit']"
    [queryParams]="{ returnUrl: router.url }"
  >
    Edit
  </button>
</tui-swipe-actions>
