:host {
  box-sizing: border-box;
  display: block;
  max-width: calc(100vw - 2rem);
  user-select: none;

  &.selected [tuicell] {
    box-shadow: inset 0 0 0 2px var(--tui-background-accent-1);
  }
}

[tuicell] {
  white-space: nowrap;
}

.check-button {
  --tui-background-neutral-1-pressed: transparent;
  max-width: 32px;
}

.completed .title {
  text-decoration: line-through;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  min-height: 24px;

  tui-icon {
    color: var(--tui-text-secondary);
  }

  --pin-left: 6px;
  --pin-top: 12px;
}
