<tui-app-bar tuiPlatform="ios">
  <h1 tuiTitle [routerLink]="['/']">
    tmr.w
    <div [tuiSkeleton]="taskCount() === -1" tuiSubtitle>
      {{
        taskCount()
          | i18nPlural
            : {
                '=0': 'You have no tasks today',
                '=1': 'You have one task today',
                other: 'You have # tasks today',
              }
      }}
    </div>
  </h1>

  <a iconStart="@tui.search" title="User" tuiIconButton tuiSlot="right"></a>
  <a
    iconStart="@tui.settings"
    tuiIconButton
    tuiSlot="right"
    [routerLink]="['/settings']"
  >
    Settings
  </a>
</tui-app-bar>
