<tui-app-bar>
  @if (showBackButton()) {
    <button tuiAppBarBack tuiSlot="left" type="button" [routerLink]="['/']">
      Back
    </button>
  }
  <div tuiTitle [routerLink]="['/']">
    <img class="logo" src="assets/logo.svg" alt="tmr.w" />
    <div [tuiSkeleton]="taskCount() === -1" tuiSubtitle>
      {{
        taskCount()
          | i18nPlural
            : {
                '=0': 'You have no tasks today',
                '=1': 'You have one task today',
                other: 'You have # tasks today',
              }
      }}
    </div>
  </div>

  <button
    type="button"
    iconStart="@tui.search"
    title="User"
    tuiIconButton
    tuiSlot="right"
    (click)="search.toggle()"
  >
    Search
  </button>
  <!-- <a
    iconStart="@tui.history"
    tuiIconButton
    tuiSlot="right"
    [routerLink]="['/tasks/completed']"
  >
    Completed Tasks
  </a> -->
  <a
    iconStart="@tui.settings"
    tuiIconButton
    tuiSlot="right"
    [routerLink]="['/settings']"
  >
    Settings
  </a>
</tui-app-bar>
