:host {
  display: block;

  --tui-background-accent-2: var(--tui-background-accent-1);
}

.switch-container {
  display: grid;
  gap: 1rem;

  & > [tuilabel] {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

[tuibutton] {
  inline-size: unset !important;
}
