@import '@taiga-ui/core/styles/taiga-ui-local.less';

:host {
  display: block;
}

.input {
  .tui-prevent-ios-scroll();

  inline-size: 100%;
  margin-block-start: 0.75rem;
}

.completed {
  tui-icon {
    height: 0.8125rem;
    width: 0.8125rem;
  }
}

.results {
  display: grid;
  gap: 0.5rem;
}

.no-results {
  tui-icon {
    height: 3rem;
    width: 3rem;
  }
}
