@import '@taiga-ui/core/styles/taiga-ui-local.less';

:host {
  display: block;
}

.input {
  .tui-prevent-ios-scroll();

  inline-size: 100%;
  margin-block-start: 0.75rem;
}

.completed {
  tui-icon {
    height: 0.8125rem;
    width: 0.8125rem;
  }
}

section {
  padding: 0.5rem 0;
}

.history {
  align-items: center;
  display: flex;

  &-list {
    display: flex;
    gap: 0.5rem;
    margin-left: 0.5rem;
  }
}

.results {
  display: grid;
  gap: 0.5rem;

  tuicell {
    white-space: nowrap;
  }
}

.no-results {
  tui-icon {
    height: 3rem;
    width: 3rem;
  }
}
