<ng-template #bar>
  <tui-app-bar>
    <button tuiButton tuiSlot="left" type="button" (click)="search.close()">
      Close
    </button>
    Search tasks
  </tui-app-bar>
  <input
    placeholder="Search tasks"
    tuiSearch
    tuiAutoFocus
    type="search"
    class="input"
    [ngModel]="search.query()"
    (ngModelChange)="search.setQuery($event)"
  />
</ng-template>
<ng-template
  [tuiSheetDialog]="search.isOpen()"
  [tuiSheetDialogOptions]="{ label: bar, bar: false }"
  (tuiSheetDialogChange)="search.setIsOpen($event)"
>
  <!-- <div class="favorites">
    <tui-avatar-labeled
      *ngFor="let item of items | slice: 0 : 6"
      [label]="item.name"
    >
      <tui-avatar [src]="item.avatar | tuiFallbackSrc: '@tui.user' | async" />
    </tui-avatar-labeled>
  </div> -->
  <div class="results">
    @for (task of results(); track task.id) {
      <div
        tuiCell
        tuiAppearance="neutral"
        style="white-space: nowrap"
        tabindex="0"
        (click)="goToTask(task.id)"
        (keydown.enter)="goToTask(task.id)"
        (keydown.space)="goToTask(task.id)"
      >
        <div tuiTitle>
          <span class="title" tuiFade>{{ task.title }}</span>
          <div tuiSubtitle>
            {{ task.date | formatDate: true }}
          </div>
          @if (task.completedAt) {
            <div class="completed" tuiSubtitle>
              <tui-icon icon="@tui.check" />
              {{ task.completedAt | formatDate: true }}
            </div>
          }
        </div>
        <tui-chip
          size="xs"
          appearance="custom"
          [style.background-color]="task.category | tuiAutoColor"
        >
          {{ task.category }}
        </tui-chip>
        <button
          appearance="action"
          tuiIconButton
          iconStart="@tui.chevron-right"
          [routerLink]="['/tasks/', task.id]"
        >
          Open Task
        </button>
      </div>
    } @empty {
      <tui-block-status
        class="no-results"
        tuiAppearance="neutral"
        [card]="true"
      >
        <tui-icon icon="@tui.search" tuiSlot="top" />
        @if (search.query()) {
          <ng-container>
            <h4>No results found</h4>
            Try searching for different keywords
          </ng-container>
        } @else {
          Enter keywords to find tasks
        }
      </tui-block-status>
    }
  </div>
</ng-template>
