<form tuiForm="m" [formGroup]="form" (ngSubmit)="onSubmit($event)">
  <div tuiAppearance="floating" tuiCardLarge="compact">
    <header tuiHeader>
      <h2 tuiTitle>New Task</h2>
    </header>

    <tui-textfield>
      <label tuiLabel>Add title</label>
      <input
        tuiAutoFocus
        formControlName="title"
        placeholder="Add title"
        tuiTextfield
      />
    </tui-textfield>

    <tw-date-picker formControlName="date" />

    <tw-category-selector formControlName="category" />

    <tw-priority-selector formControlName="priority" />

    <tui-textarea
      #description
      style="min-block-size: 3.75rem"
      formControlName="description"
      [expandable]="description.focused"
    >
      Add description
    </tui-textarea>

    @if (context.remindersEnabled()) {
      @if (settings.defaultReminderState() === 'ask') {
        <label
          tuiLabel
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
          "
        >
          Reminder

          <tui-segmented>
            <label>
              <input
                type="radio"
                name="reminder"
                [value]="false"
                formControlName="reminder"
              />
              <tui-icon icon="@tui.bell-off" />
            </label>
            <label>
              <input
                type="radio"
                name="reminder"
                [value]="true"
                formControlName="reminder"
              />
              <tui-icon icon="@tui.bell" />
            </label>
          </tui-segmented>
        </label>
      } @else {
        <label>
          <tui-icon icon="@tui.bell" />
          You will be reminded about this task
        </label>
      }
    }
  </div>

  <tui-accordion #accordion [closeOthers]="false">
    <button iconStart="@tui.map-pin" tuiAccordion>Location</button>
    <tui-expand>
      <ng-container *tuiItem>
        <tui-textfield>
          <label tuiLabel>Location</label>
          <input
            formControlName="location"
            placeholder="Add location"
            tuiTextfield
          />
        </tui-textfield>
      </ng-container>
    </tui-expand>
    <button iconStart="@tui.clock" tuiAccordion>Duration</button>
    <tui-expand>
      <ng-container *tuiItem>
        <tw-duration formControlName="duration" />
      </ng-container>
    </tui-expand>
    <button iconStart="@tui.clipboard-list" tuiAccordion>Sub-tasks</button>
    <tui-expand>
      <ng-container *tuiItem>
        <tw-subtasks formControlName="subTasks" />
      </ng-container>
    </tui-expand>
    <button iconStart="@tui.paperclip" tuiAccordion>Attachments</button>
    <tui-expand>
      <ng-container *tuiItem>
        <tw-file-upload formControlName="attachments" />
      </ng-container>
    </tui-expand>
    <button iconStart="@tui.notebook-pen" tuiAccordion>Notes</button>
    <tui-expand>
      <ng-container *tuiItem>
        <tui-textarea formControlName="notes" [expandable]="true">
          Notes
        </tui-textarea>
      </ng-container>
    </tui-expand>
  </tui-accordion>

  <div class="actions">
    <button size="l" type="submit" [disabled]="form.invalid" tuiButton>
      Create Task
    </button>
  </div>
</form>
