:host {
  display: block;
  padding: 1rem;
  margin-bottom: 5.5rem;
}

.actions {
  --t-radius: 0 !important;
  bottom: 0;
  margin-left: -1rem;
  margin-right: -1rem;
  position: fixed;
  width: 100%;
}
