@if (context.remindersEnabled()) {
  @if (settings.defaultReminderState() === 'ask') {
    <label tuiLabel class="input-container">
      Reminder

      <tui-segmented>
        <label>
          <input
            type="radio"
            name="reminder"
            [value]="false"
            formControlName="reminder"
            [disabled]="disabled()"
          />
          <tui-icon icon="@tui.bell-off" />
        </label>
        <label>
          <input
            type="radio"
            name="reminder"
            [value]="true"
            formControlName="reminder"
            [disabled]="disabled()"
          />
          <tui-icon icon="@tui.bell" />
        </label>
      </tui-segmented>
    </label>
  } @else {
    <label>
      <tui-icon icon="@tui.bell" />
      You will be reminded about this task
    </label>
  }
}
