<!-- <tui-swipe-actions> -->
<div
  tuiCell
  tuiSurface="neutral"
  [class.completed]="task().completedAt && strikeThrough()"
  style="white-space: nowrap"
>
  <button
    appearance="flat"
    [iconStart]="icon()"
    size="xs"
    tuiIconButton
    type="button"
    [style.border-radius.%]="100"
    (click)="toggleTask()"
  >
    {{ task().completedAt ? 'Undo' : 'Done' }}
  </button>
  <div tuiTitle>
    <span class="title" tuiFade>{{ task().title }}</span>
    <div tuiSubtitle>
      {{ task().date | formatDate }}
    </div>
  </div>
  @if (showCategory()) {
    <tui-chip
      size="xs"
      appearance="custom"
      [style.background-color]="task().category | tuiAutoColor"
    >
      {{ task().category }}
    </tui-chip>
  }
  <button
    appearance="action"
    tuiIconButton
    iconStart="@tui.chevron-right"
    [routerLink]="['/tasks/', task().id]"
  >
    Open Task
  </button>
</div>
<!-- <button
    appearance="flat"
    iconStart="@tui.pencil"
    size="m"
    tuiIconButton
    tuiSwipeAction
    type="button"
  >
    Edit
  </button>
  <button
    appearance="flat-destructive"
    iconStart="@tui.trash-2"
    size="m"
    tuiIconButton
    tuiSwipeAction
    type="button"
    (click)="deleteTask()"
  >
    Delete
  </button>
</tui-swipe-actions> -->
