:host {
  box-sizing: border-box;
  display: block;
  max-width: calc(100vw - 2rem);
}

[tuicell] {
  white-space: nowrap;
}

.completed .title {
  text-decoration: line-through;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;

  tui-icon {
    color: var(--tui-text-secondary);
  }
}
