<ng-container [formGroup]="form">
  <div class="subtask-grid" formArrayName="tasks">
    @for (group of formArray.controls; track $index) {
      <div tuiGroup orientation="horizontal" [formGroup]="group">
        @if (!createOnly) {
          @let completedAt = group.get('completedAt')?.value;
          <button
            appearance="flat"
            [iconStart]="completedAt ? '@tui.circle-check' : '@tui.circle'"
            size="xs"
            tuiIconButton
            type="button"
            [style.border-radius.%]="100"
          >
            {{ completedAt ? 'Undo' : 'Done' }}
          </button>
        }
        <tui-textfield>
          <label tuiLabel>Task {{ $index + 1 }}</label>
          <input formControlName="title" type="text" tuiTextfield />
        </tui-textfield>
        <button
          type="button"
          style="max-width: 4rem"
          appearance="outline-destructive"
          tuiIconButton
          iconStart="@tui.minus"
          (click)="removeTask($index)"
          [disabled]="formArray.controls.length <= 1 || form.disabled"
        >
          Remove
        </button>
        <button
          type="button"
          style="max-width: 4rem"
          appearance="outline-grayscale"
          tuiIconButton
          iconStart="@tui.plus"
          (click)="addTask()"
          [disabled]="form.disabled"
        >
          Add
        </button>
      </div>
    }
  </div>
</ng-container>
