<label
  tuiChip
  appearance="outline-grayscale"
  [style.background-color]="'Work' | tuiAutoColor"
>
  Work
  <input
    tuiRadio
    [(ngModel)]="category"
    appearance="custom"
    name="category"
    type="radio"
    value="Work"
    [disabled]="disabled()"
  />
</label>
<label
  tuiChip
  appearance="outline-grayscale"
  [style.background-color]="'Personal' | tuiAutoColor"
>
  Personal
  <input
    tuiRadio
    [(ngModel)]="category"
    appearance="custom"
    name="category"
    type="radio"
    value="Personal"
    [disabled]="disabled()"
  />
</label>
<label
  tuiChip
  appearance="outline-grayscale"
  [style.background-color]="'Shopping' | tuiAutoColor"
>
  Shopping
  <input
    tuiRadio
    [(ngModel)]="category"
    appearance="custom"
    name="category"
    type="radio"
    value="Shopping"
    [disabled]="disabled()"
  />
</label>
<label
  tuiChip
  appearance="outline-grayscale"
  [style.background-color]="'Health' | tuiAutoColor"
>
  Health
  <input
    tuiRadio
    [(ngModel)]="category"
    appearance="custom"
    name="category"
    type="radio"
    value="Health"
    [disabled]="disabled()"
  />
</label>
