<section class="category-grid">
  <tw-category-card title="Work" icon="@tui.briefcase-business" />
  <tw-category-card title="Personal" icon="@tui.user" />
  <tw-category-card title="Shopping" icon="@tui.shopping-cart" />
  <tw-category-card title="Health" icon="@tui.heart-pulse" />
</section>

<!-- TODO: Add bulk management with https://taiga-ui.dev/components/actions-bar -->

@if (hasPinnedTasks()) {
  <section class="task-list-grid">
    <tw-task-list-header
      title="Pinned"
      headerSize="s"
      icon="@tui.pin"
      [sticky]="true"
    >
      <!-- <button
        appearance="flat-grayscale"
        size="m"
        tuiIconButton
        iconStart="@tui.check-check"
        type="button"
        (click)="completeAll(pinnedTasks())"
      >
        Complete All
      </button> -->
    </tw-task-list-header>
    @for (task of pinnedTasks(); track task.id) {
      <tw-task-list-card [task]="task" [fullDateFormat]="true" />
    }
  </section>
}

@if (hasOverdueTasks()) {
  <section class="task-list-grid">
    <tw-task-list-header
      title="Overdue"
      headerSize="s"
      icon="@tui.clock-9"
      [sticky]="true"
    >
      <tw-bulk-move-tasks-to-today-button [tasks]="overDueTasks()" />
      <tw-bulk-complete-tasks-button [tasks]="overDueTasks()" />
    </tw-task-list-header>
    @for (task of overDueTasks(); track task.id) {
      <tw-task-list-card [task]="task" />
    }
  </section>
}

<section class="task-list-grid">
  <tw-task-list-header
    title="Today"
    headerSize="s"
    icon="@tui.clock-12"
    [sticky]="true"
  >
    @if (todaysTasks().length > 0) {
      <tw-bulk-complete-tasks-button [tasks]="todaysTasks()" />
    }
  </tw-task-list-header>
  @for (task of todaysTasks(); track task.id) {
    <tw-task-list-card [task]="task" />
  } @empty {
    <tw-empty-state
      title="No Tasks Today"
      [skeleton]="(isReady | async) === null"
    />
  }
</section>

<section class="task-list-grid">
  <tw-task-list-header
    title="Upcoming"
    headerSize="s"
    icon="@tui.calendar-days"
    [sticky]="true"
  >
    @if (upcomingTasks().length > 0) {
      <tw-bulk-complete-tasks-button [tasks]="upcomingTasks()" />
    }
  </tw-task-list-header>
  @for (task of upcomingTasks(); track task.id) {
    <tw-task-list-card [task]="task" />
  } @empty {
    <tw-empty-state
      title="No Upcoming Tasks"
      [skeleton]="(isReady | async) === null"
    />
  }
</section>

<section class="view-completed-container">
  <a
    appearance="action-grayscale"
    tuiButton
    iconStart="@tui.history"
    [routerLink]="['/tasks', 'completed']"
  >
    View Completed Tasks
  </a>
</section>

<tw-action-bar-portal>
  <ng-template #actionBar>
    <button style="width: 100%" tuiButton [routerLink]="['../', 'new']">
      New Task
    </button>
  </ng-template>
</tw-action-bar-portal>
