<section class="category-grid">
  <tw-category-card title="Work" icon="@tui.briefcase-business" />
  <tw-category-card title="Personal" icon="@tui.user" />
  <tw-category-card title="Shopping" icon="@tui.shopping-cart" />
  <tw-category-card title="Health" icon="@tui.heart-pulse" />
</section>

<section class="task-list-grid">
  <h2 tuiTitle="m">Todays Tasks</h2>
  @for (task of todaysTasks(); track task.id) {
    <tw-task-list-card [task]="task" />
  }
</section>

<section class="task-list-grid">
  <h2 tuiTitle="m">Upcoming</h2>
  @for (task of upcomingTasks(); track task.id) {
    <tw-task-list-card [task]="task" />
  }
</section>

<section class="task-create-container">
  <button tuiButton (click)="createTask()">New Task</button>
</section>
