:host {
  display: block;
  margin-bottom: 5.5rem;
  padding: 1rem;
}

section {
  display: block;
  width: 100%;

  & + section {
    margin-top: 1rem;
  }
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  & ::ng-deep tw-category-card > button {
    width: 100%;
  }
}

.task-list-grid {
  display: grid;
  gap: 1rem;
}

.task-create-container {
  bottom: 0;
  margin-left: -1rem;
  margin-right: -1rem;
  position: fixed;
}
