<section class="category-grid">
  <tw-category-card title="Work" icon="@tui.briefcase-business" />
  <tw-category-card title="Personal" icon="@tui.user" />
  <tw-category-card title="Shopping" icon="@tui.shopping-cart" />
  <tw-category-card title="Health" icon="@tui.heart-pulse" />
</section>

<!-- TODO: Add bulk management with https://taiga-ui.dev/components/actions-bar -->

@if (hasOverdueTasks()) {
  <section class="task-list-grid">
    <tw-task-list-header title="Overdue Tasks" headerSize="s" />
    @for (task of overDueTasks(); track task.id) {
      <tw-task-list-card [task]="task" />
    }
  </section>
}

<section class="task-list-grid">
  <tw-task-list-header title="Todays Tasks" headerSize="s" />
  @for (task of todaysTasks(); track task.id) {
    <tw-task-list-card [task]="task" />
  }
</section>

<section class="task-list-grid">
  <tw-task-list-header title="Upcoming Tasks" headerSize="s" />
  @for (task of upcomingTasks(); track task.id) {
    <tw-task-list-card [task]="task" />
  }
</section>

<section class="task-create-container">
  <button tuiButton (click)="createTask()">New Task</button>
</section>
