@if (taskExists()) {
  @let t = task()!;
  <section class="meta" tuiCardLarge="compact" tuiAppearance="neutral">
    <header tuiHeader="m">
      <h2 tuiTitle>
        {{ t.title }}

        <div tuiSubtitle>
          <!-- TODO: Fix space when wraps -->
          <tui-chip
            size="xs"
            appearance="custom"
            [style.background-color]="t.category | tuiAutoColor"
          >
            {{ t.category }}
          </tui-chip>
          <tui-badge
            appearance="secondary-grayscale"
            iconStart="@tui.clock"
            size="l"
            class="tui-space_left-1"
          >
            {{ t.date | formatDate }}
          </tui-badge>
          @if (t.completedAt) {
            <tui-badge
              appearance="secondary-grayscale"
              iconStart="@tui.circle-check"
              size="l"
              class="tui-space_left-1"
            >
              {{ t.completedAt | formatDate }}
            </tui-badge>
          }
          @if (t.priority && t.priority > 0) {
            <tui-chip size="xs" style="--pin-top: 9px; --pin-left: 3px">
              <tw-priority-pin [priority]="t.priority" [showLabel]="true" />
            </tui-chip>
          }
        </div>
      </h2>
      <div tuiAccessories>
        @if (t.pinned) {
          <tui-icon icon="@tui.pin" />
        }
      </div>
    </header>
    @if (t.description) {
      <div>{{ t.description }}</div>
    }
    @if (t.location) {
      <div>
        <tui-icon icon="@tui.map-pin" />
        {{ t.location }}
      </div>
    }
    @if (t.duration) {
      <div>
        <tui-icon icon="@tui.clock" />
        {{ t.duration | formatDuration }}
      </div>
    }
  </section>

  <section tuiCardLarge="compact">
    <header tuiHeader="xs">
      <h3 tuiTitle>
        Subtasks ({{ subTaskCompletedCount() }}/{{ subTaskCount() }})
      </h3>
      @if (hasSubTasks()) {
        <div tuiAccessories>
          <button
            appearance="action"
            iconStart="@tui.clipboard-list"
            tuiIconButton
            (click)="navigateToEditWithAccordion(2)"
          >
            Add Subtasks
          </button>
        </div>
      }
    </header>
    @if (hasSubTasks()) {
      <progress
        style="margin-top: -0.75rem"
        tuiProgressBar
        [max]="subTaskCount()"
        [segments]="subTaskCount()"
        [value]="subTaskCompletedCount()"
        size="m"
      ></progress>
      @for (subtask of t.subTasks; track $index) {
        @let isCompleted = !!subtask.completedAt;
        <div tuiCell>
          <button
            appearance="flat"
            [iconStart]="isCompleted ? '@tui.circle-check' : '@tui.circle'"
            size="xs"
            tuiIconButton
            type="button"
            [style.border-radius.%]="100"
            (click)="taskService.toggleSubtask(t, $index)"
          >
            {{ isCompleted ? 'Undo' : 'Done' }}
          </button>
          <div tuiTitle>
            {{ subtask.title }}
            @if (isCompleted) {
              <div tuiSubtitle>{{ subtask.completedAt! | formatDate }}</div>
            }
          </div>
        </div>
      }
    } @else {
      <tw-empty-state
        title="No Subtasks"
        action="Add Subtask"
        (actionClicked)="navigateToEditWithAccordion(2)"
      />
    }
  </section>

  <section tuiCardLarge="compact">
    <header tuiHeader="xs">
      <h3 tuiTitle>Attachments ({{ attachmentCount() }})</h3>
      @if (hasAttachments()) {
        <div tuiAccessories>
          <button
            appearance="action"
            iconStart="@tui.paperclip"
            tuiIconButton
            (click)="navigateToEditWithAccordion(3)"
          >
            Add Attachment
          </button>
        </div>
      }
    </header>
    @if (hasAttachments()) {
      <tui-files>
        @for (attachment of attachments(); track $index) {
          @if (attachment) {
            <tui-file
              size="l"
              state="normal"
              [leftContent]="icon"
              [file]="attachment"
            />
            <ng-template #icon>
              @if (attachment.type.includes('image')) {
                <tui-icon icon="@tui.image" />
              } @else {
                <tui-icon icon="@tui.paperclip" />
              }
            </ng-template>
          } @else {
            <!-- TODO: Create view to handle if a file is missing/errored -->
          }
        }
      </tui-files>
    } @else {
      <tw-empty-state
        title="No Attachments"
        action="Add Attachment"
        (actionClicked)="navigateToEditWithAccordion(3)"
      />
    }
  </section>

  <section tuiCardLarge="compact">
    <header tuiHeader="xs">
      <h3 tuiTitle>Notes</h3>
      @if (hasNotes()) {
        <div tuiAccessories>
          <button
            appearance="action"
            iconStart="@tui.notebook-pen"
            tuiIconButton
            (click)="navigateToEditWithAccordion(4)"
          >
            Add Note
          </button>
        </div>
      }
    </header>
    @if (hasNotes()) {
      <tui-elastic-container>
        <div style="white-space: pre-line">{{ notes() }}</div>
        @if (shouldTruncateNotes()) {
          <button
            tuiLink
            type="button"
            (click)="truncateNotes.set(!truncateNotes())"
          >
            Show {{ truncateNotes() ? 'more' : 'less' }}
          </button>
        }
      </tui-elastic-container>
    } @else {
      <tw-empty-state
        title="No Notes"
        action="Add Note"
        (actionClicked)="navigateToEditWithAccordion(4)"
      />
    }
  </section>

  <tw-action-bar-portal>
    <ng-template #actionBar>
      <div class="action-group">
        <button
          style="width: calc(100% - 56px - 1rem)"
          tuiButton
          (click)="taskService.toggleTask(t)"
        >
          Mark {{ t.completedAt ? 'Incomplete' : 'Complete' }}
        </button>
        <button
          [tuiDropdownMobile]="t.title"
          appearance="secondary-grayscale"
          iconStart="@tui.ellipsis"
          tuiIconButton
          type="button"
          [tuiAppearanceState]="menuOpen() ? 'active' : null"
          [tuiDropdown]="dropdown"
          [(tuiDropdownOpen)]="menuOpen"
        >
          Menu
        </button>
        <ng-template #dropdown>
          <div class="action-grid">
            <button
              appearance="secondary-destructive"
              iconStart="@tui.trash"
              tuiButton
              (click)="taskService.deleteTask(t)"
            >
              Delete
            </button>
            <button
              appearance="secondary-grayscale"
              [iconStart]="t.pinned ? '@tui.pin-off' : '@tui.pin'"
              tuiButton
              (click)="pinTask(t)"
            >
              {{ t.pinned ? 'Unpin' : 'Pin' }}
            </button>
            <a
              appearance="secondary"
              iconStart="@tui.pencil"
              tuiButton
              [routerLink]="['./edit']"
            >
              Edit
            </a>
            <button
              appearance="secondary-grayscale"
              iconStart="@tui.calendar-sync"
              tuiButton
            >
              Reschedule
            </button>
            <button
              appearance="secondary-grayscale"
              iconStart="@tui.timer"
              tuiButton
            >
              Start Timer
            </button>
          </div>
        </ng-template>
      </div>
    </ng-template>
  </tw-action-bar-portal>
}
