:host {
  display: block;
}

section {
  &.meta {
    --t-radius: 0 !important;

    [tuisubtitle] {
      display: flex;
      flex-wrap: wrap;
      gap: 0.25rem;
    }
  }

  &:not(.meta) {
    background-color: unset;
  }
}

.action-group {
  display: flex;
  justify-content: space-between;
}

.action-grid {
  display: grid;
  gap: 0.5rem;
  /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
  grid-template-columns: repeat(3, 1fr);
  padding: 0.5rem 0.5rem 1rem;

  > [tuibutton] {
    flex-direction: column;
    height: 5.5rem;
  }
}
