:host {
  display: block;
  margin-bottom: 8.5rem;
}

[tuisubtitle] > * + * {
  margin-left: 0.25rem;
}

.meta {
  --t-radius: 0 !important;
}

.actions {
  --t-radius: 0 !important;
  bottom: 0;
  position: fixed;
  width: 100%;
}
