<div [tuiHeader]="headerSize()">
  @if (hasIcon()) {
    <tui-icon [icon]="icon()!" />
  }
  <div tuiTitle>
    {{ title() }}
    @if (hasSubtitle()) {
      <div tuiSubtitle>{{ subtitle() }}</div>
    }
  </div>

  <div tuiAccessories>
    @if (canSort()) {
      <button
        type="button"
        appearance="flat-grayscale"
        [tuiAppearanceState]="sortMenuOpen() ? 'active' : null"
        [size]="buttonSize()"
        tuiIconButton
        [iconStart]="sortStateIcon()"
        tuiDropdownOpen
        tuiDropdownAlign="right"
        [tuiDropdown]="content"
        [(tuiDropdownOpen)]="sortMenuOpen"
      >
        Sort
      </button>
    }
    <ng-template #content>
      <tui-data-list role="menu">
        <tui-opt-group labe="Due Date">
          <button
            tuiOption
            iconStart="@tui.clock-arrow-up"
            [iconEnd]="sort() === 'date_asc' ? '@tui.check' : ''"
            (click)="setSort('date_asc')"
          >
            Earliest Due
          </button>
          <button
            tuiOption
            iconStart="@tui.clock-arrow-down"
            [iconEnd]="sort() === 'date_desc' ? '@tui.check' : ''"
            (click)="setSort('date_desc')"
          >
            Latest Due
          </button>
        </tui-opt-group>
        <tui-opt-group label="Priority">
          <button
            tuiOption
            iconStart="@tui.arrow-down-0-1"
            [iconEnd]="sort() === 'priority_desc' ? '@tui.check' : ''"
            (click)="setSort('priority_desc')"
          >
            High to Low
          </button>
          <button
            tuiOption
            iconStart="@tui.arrow-up-1-0"
            [iconEnd]="sort() === 'priority_asc' ? '@tui.check' : ''"
            (click)="setSort('priority_asc')"
          >
            Low to High
          </button>
        </tui-opt-group>
      </tui-data-list>
    </ng-template>
    <ng-content></ng-content>
  </div>
</div>
