:host {
  background: var(--tui-background-base);
  color: var(--tui-text-primary);
  display: block;
  height: 44px;

  &[tuielasticsticky] {
    backdrop-filter: blur(2rem);
    background: color-mix(in hsl, var(--tui-background-base) 80%, transparent);
    position: sticky;
    top: calc(56px + var(--header-offset));
    z-index: 96;
  }
}

[tuiHeader] {
  align-items: center;
  height: 100%;

  tui-icon {
    margin-right: 0.5rem;
  }
}

tui-data-list [tuiOption] {
  justify-content: unset;
}
