<a
  class="category-card"
  tuiCardLarge
  tuiCell
  tuiSurface
  [style.background-color]="color() ?? title() | tuiAutoColor"
  [routerLink]="['/category', title()]"
>
  <tui-avatar appearance="glass" [src]="icon()" [style.color]="color()" />
  <div tuiTitle>
    {{ title() }}
    <div [tuiSkeleton]="taskCount() === -1" tuiSubtitle>
      {{
        taskCount()
          | i18nPlural
            : {
                '=0': 'No tasks',
                '=1': '1 task',
                other: '# tasks',
              }
      }}
    </div>
  </div>
</a>
