:host {
  background-color: var(--tui-background-base);
  display: block;
  height: 44px;

  &.sticky {
    position: sticky;
    top: calc(56px + var(--header-offset));
    z-index: 96;
  }
}

[tuiHeader] {
  align-items: center;
  height: 100%;

  tui-icon {
    margin-right: 0.5rem;
  }
}
