:host {
  display: block;
  background-color: var(--tui-background-base);

  &.sticky {
    position: sticky;
    top: calc(56px + var(--header-offset));
    z-index: 96;
  }
}

[tuiHeader] {
  align-items: center;

  tui-icon {
    margin-right: 0.5rem;
  }
}
